body{margin:0;padding:0;}
h5{
	font-family : "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;
}

*{
	font-family: Arial,Verdana,Helvetica,sans-serif;
}

#table_info_news{
	width: 310px;
	float: left;
	padding: 1px;
	border-left: 1px solid #d5d6d6;
	border-right: 1px solid #d5d6d6;
	border-bottom: 1px solid #d5d6d6;
	font-size: 8pt;
}

.newsTitle {
	background-image: url('/img/rss/news3-top.png');
	color: #FFFFFF;
	margin: 0;
	width: 304px;
	line-height: 33px;
	padding-left: 10px;
	padding-top: 9px;
	font-size: 9pt;
}

.newsTitle a{
	color: #FFFFFF;
	float: right;
	font-size: 8pt;
	text-decoration: underline;
	font-weight: normal;
	padding-right: 10px;
}

#table_info_news ul{

	list-style: none outside none;
	padding: 0;
	margin: 0;
}

#block_news_first{
	background-color: #e6f2f9;
	padding: 5px;
	color:
}
#block_news_first a{
	color: #004d9e;
	font-weight: bold;
	text-decoration: underline;
	line-height: 10px;
}

#block_news_first p{
	line-height: 10px;
	padding-left: 10px;
	margin: 0;
	color: #484848;
}

#block_news_first p a{
	color: #004D9E;
	font-weight: bold;
	margin-right: 8px;
	margin-left: 200px;
}

#table_info_news ul li a{
	line-height: 25px;
	padding-left: 10px;
	margin: 0;
	text-decoration: underline;
	font-size: 9pt;
}

.block_news_odd{
	background-color: #e4e5e4;
	line-height: 25px;
	color: #484848;
	border-top: 1px solid white;
}
.block_news_odd a{
	color: #484848;
}

.block_news_pair
{
	color: #484848;
	background-color: #f2f2f2;
	border-top: 1px solid white;
}

.block_news_pair a{
	color: #484848;
}

#block_news_last{
	background-color: #f2f2f2;
}

#see_newsletter{
	margin-left: 5px;
	background: url(/img/rss/news3-newsletter.png) no-repeat left center;
	border-bottom: 1px solid white;
}

#see_newsletter a {
	color: #0075cf;
	font-weight: bold;
	padding-left: 25px;
}

#follow_on_facebook{
	margin-left: 5px;
	background: url(/img/rss/news3-facebook.png) no-repeat left center;
	border-bottom: 1px solid white;
}

#follow_on_facebook a{
	color: #0075cf;
	font-weight: bold;
	padding-left: 25px;
}

#follow_on_twitter{
	margin-left: 5px;
	background: url(/img/rss/news3-twitter.png) no-repeat left center;
}

#follow_on_twitter a{
	color: #0075cf;
	font-weight: bold;
	padding-left: 25px;
}
